@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'tommy-medium';
  src: url('/fonts/Made Tommy Medium.otf');
}

@font-face {
  font-family: 'tommy-light';
  src: url('/fonts/Made Tommy Light.otf');
}

html,
body {
  overflow-x: hidden;
  @apply scroll-smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-tgreen-100
}

::-webkit-scrollbar-thumb {
  @apply bg-tgreen-300 rounded-full
}


.mx {
  @apply lg:mx-12 xl:mx-16 mx-6 my-8 lg:my-12
}

.flip-x {
  transform: scale(-1, 1);
}

p,
button,
li {
  @apply font-tomlight
}

h2,
h1 {
  @apply font-tommy
}

.h1 {
  @apply text-7xl
}

.h2 {
  @apply text-6xl
}

.h3 {
  @apply text-2xl
}

.p {
  @apply text-xl
}

.bg-gradient {
  @apply bg-gradient-to-b from-tyellow-200 to-tyellow-100
}

.text-gradient {
  @apply text-transparent bg-clip-text bg-gradient-to-b from-tyellow-300 to-tyellow-100
}

/* @import 'footer.css' */